.App {
    margin:0 auto;
    padding:1rem 0;
    width: 600px;
}

.wrapper-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

.post {
    width: 100%;
    margin-top: 30px;
}

.container-post {
    width: 100%;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 30px;
}

.post-item {
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.post-item:last-child {
    margin-bottom: 0;
}